$color-main: #ffffff;
$color-main-transparent:#ffffff14;
$bg-color-main: #121212;
$bg-color-main-darken: #1a1a1a;
$bg-color-main-lighten: #1f1f1f;
$bg-transp-color-main: #18181885;
$bg-transp-color-main-darken: #181818cf;
$bg-transp-color-main-lighten: lighten($bg-transp-color-main, 4%);
$decoration-color-main: #f5c518;
$decoration-color-main-darken: darken($decoration-color-main, 10%);
$decoration-color-main-lighten: lighten($decoration-color-main, 4%);
$decoration-color-secondary: #5799ef;
$font-size-main: 16px;
$font-family-main: "Roboto", sans-serif;

:export {
    colorMain: $color-main;
    colorMainTransparent:$color-main-transparent;
    bgColorMain: $bg-color-main;
    bgColorMainDarken: $bg-color-main-darken;
    bgColorMainLighten: $bg-color-main-lighten;
    bgTranspColorMain: $bg-transp-color-main;
    bgTranspColorMainLighten: $bg-transp-color-main-lighten;
    bgTranspColorMainDarken: $bg-transp-color-main-darken;
    decorColorMain: $decoration-color-main;
    decorColorSecondary: $decoration-color-secondary;
    decorColorMainDarken: $decoration-color-main-darken;
    decorColorMainLighten: $decoration-color-main-lighten;
}
